<launch>

	<!-- Launch script for sign dection -->


	<node pkg="cv_camera" type="cv_camera_node" name="cv_camera" clear_params="true" output="screen">
		<!-- Operation Parameters -->
		<!-- param name ="topic_input_camera_info" value="/cv_camera/camera_info" type="str" / -->
		<param name ="topic_input_image" value="/cv_camera/image_raw" />
		<param name ="rate" value="2" />
	</node>
	<node pkg="450_TD" type="450_TD_node" name="image_proc" clear_params="true" output="screen">
		<!-- Operation Parameters -->
		<!-- param name="topic_input_camera_info" value="/camera/camera_info" type="str"/ -->
	</node>

</launch>
